body{
    background-color: yellow;
}
 
.article {
    font-size: 36px;
    line-height: 40px;
}

.fon {
    position: centre;
    background-color: #fff; 
    height: 120px;
    padding: 15px 15px 18px 15px; 
    border-radius: 0px 0px 30px 30px; 
   
}
 
/* Зададим размеры ячейкам таблицы, закруглим их и прижмем к левому краю панели */
.fon div {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    float:left;
    margin: 50px;  

}
 

#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#purple{
    background-color: purple;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}